.article-banner {
	margin-bottom: 3em;
}

h1 {
	font-family: Pacifico
}

#content {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}